@using Westwind.AspNetCore.Markdown
@model MyPortfolio.Models.Board

@{
    ViewData["Title"] = "Delete";
}

<section class="py-5">
    <div class="container px-5">
        <div>
            <h4>아래글을 삭제하시겠습니까?</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.UserId)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Contents)
                </dt>
                <dd class = "col-sm-10">
                    @* @Html.DisplayFor(model => model.Contents) *@
                    @Markdown.ParseHtmlString(Model.Contents)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Hit)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Hit)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.RegDate)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.RegDate)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.ModDate)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.ModDate)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="삭제" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-success">목록</a>
            </form>
        </div>
    </div>
</section>