@using Westwind.AspNetCore.Markdown
@model MyPortfolio.Models.Board

@{
    ViewData["Title"] = "Board";
}

<section class="py-5">
    <div class="container px-5">
        <div>
            <div class="row">
                <div class="col text-center">
                    <h3>@Html.DisplayFor(model => model.Title)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>
            <div class="row px-2">
                <div class="col-sm-3">@Html.DisplayFor(model => model.UserId) ( @Html.DisplayFor(model => model.Name) )</div>
                <div class="col-sm-9 text-end">
                    @Html.DisplayFor(model => model.RegDate) 작성<br />
                    @Html.DisplayFor(model => model.ModDate) 최종수정
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>
            <div class="row p-2">
                <div class="col" style="min-height:200px">
                   @*  @Html.DisplayFor(model => model.Contents) *@
                   @Markdown.ParseHtmlString(Model.Contents)
                </div>
            </div>
        </div>
        <div class="px-2">
            <a asp-controller="Board" asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">
                글 수정
            </a>
            <a asp-controller="Board" asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">
                글 삭제
            </a>
            <a asp-controller="Board" asp-action="Index" class="btn btn btn-success">
                <i class="bi bi-file-earmark-text-fill pe-1"></i>목록
            </a>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        // 삭제 여부
        function confirmDelete(id) {
            var result = confirm("삭제하시겠습니까?"); // 1(true): 0(false)

            if (result) {
                // alert(id);
                // 삭제 POST를 ajax로 호출
                $.ajax({
                    // url: 'https://localhost:7069/Board/Delete/' + id, 이렇게 쓰는 것은 구식방식(ip나 port번호가 바뀔 때마다 변경해줘야 한다)
                    url: '@Url.Action("Delete")/' + id, // Url.Action --> ASP.NET Core 백엔드 액션메서드 호출
                    type: 'POST', // POST 액션 메서드 호출
                    success: function (data) {
                        window.location.href = '@Url.Action("Index")'; // 문장열로 변경(중요!)
                    }
                });
            }
        }
    </script>
}